<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-2">Add Product</div>
    </div>
    <form method="POST" action="">
        <div class="row mt-2">
            <div class="col-md-6">Product Name</div>
            <div class="col-md-6"><input type="text" class="form-control" name="name" formControlName="name" /></div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">Product Description</div>
            <div class="col-md-6"><input type="text" class="form-control" name="description" formControlName="description" /></div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">Product Price</div>
            <div class="col-md-6"><input type="number" class="form-control" name="price" formControlName="price" /></div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">Product Image</div>
            <div class="col-md-6"><input type="file" class="form-control" name="image" formControlName="image" /></div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 mt-2 text-center"><input type="submit" class="btn btn-warning" name="submit"/></div>
        </div>
    </form>
</div>